@model IEnumerable<TheCompany.Data.Menu>
@{
    ViewBag.Title = "Kitchen";
}
<h2>Kitchen</h2>

<h3>Implement the menu navigationo bar</h3>
@*@section Scripts{
        @Scripts.Render("~/bundles/jqueryui")

        <script>
            $(document).ready(function () {
                $(function () {
                    $('#menu').menu({ position: { at: "left bottom" } });
                });
            });
        </script>
    }*@
