@model IEnumerable<TheCompany.Data.Menu>

<div id="dl-menu" class="dl-menuwrapper">
    <ul class="dl-menu">
        <li>
            @foreach (var item in Model)
            {
                <a href="#">@item.TitleEN</a>
                @Html.Action("GetMenuChildren", "Menu", new { id = item.Id });
            }
        </li>
    </ul>
</div>
