@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>
@{
    ViewBag.Title = "Index";
}

<h2>This is the admin page!</h2>
<h3>Admin List:</h3>
@foreach (var admin in Model)
{
    <div>Username: @admin.UserName</div>
    <hr />
}
