@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>
@{
    ViewBag.Title = "Index";
}

<h2>This is the admin page!</h2>

<h3>@Html.ActionLink("Manage Menus", "Index", "Menu")</h3>
<h3>@Html.ActionLink("Manage Contact Infos", "Index", "ContactInfo")</h3>
