@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>
@{
    ViewBag.Title = "Index";
}

<h2>This is the admin page!</h2>

<h3>@Html.ActionLink("Create Menu", "Create", "Menu")</h3>
<h3>@Html.ActionLink("Available Menus", "Index", "Menu")</h3>
<h3>@Html.ActionLink("Create Contact Infos", "Create", "ContactInfo")</h3>
<h3>@Html.ActionLink("Available Contact Infos", "Index", "ContactInfo")</h3>
